* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    background-color: hsl(185, 75%, 39%);
    background-image: 
    url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
    background-position:
    bottom 34vh right 52vw,
    top 48vh left 50vw;
    background-repeat: no-repeat;
}

.card-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card {
    max-width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 15px 20px hsl(185, 76%, 32%);
    margin: 1rem;
}

.card-top {
    overflow: hidden;
    background-size: contain;
}

.victor {
    border-radius: 50%;
    border: solid 5px #fff;
    background-color: #fff;
}

.card-middle {
    text-align: center;
    position: relative;
    top: -3.6rem;
}

h1 {
    font-size: 1.125rem;
    color: #2E3349;
    margin: 0.8rem 0 0.5rem;
}

.profile-city {
    font-size: 0.875rem;
    font-weight: 400;
    color:hsl(0, 0%, 59%);
}

h3 {
    font-size: 1.125rem;
    color: #2E3349;
}

p {
    font-size: 0.625rem;
    color:hsl(0, 0%, 59%);
    letter-spacing: 1.5px;
    margin-top: 0.5rem;
}

.profile-age {
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.5rem;
}

hr {
    border-style: none;
    border-top: 1px solid #E8E9EC;
    width: 100%;
    margin-top: -1.6rem;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.4rem;
}

.stats-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

a {
    color: #2E3349;
}

.attribution {
    font-size: 0.6rem;
    color: #2E3349;
    margin-top: 1rem;
}

